.AppLink {
  &.primary {
    color: var(--primary-color);

    svg {
      fill: var(--primary-color);
    }
  }

  &.inverted {
    color: var(--inverted-primary-color);

    svg {
      fill: var(--inverted-primary-color);
    }
  }
}
